<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>곰곰해온라인 :: BearChain</title>
        <link rel="stylesheet" href="/public/style.css" />
        <script src="/public/module.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

        <script>
            const win = '<%if(locals.win){%><%=win%><%}%>';
            const lose = '<%if(locals.lose){%><%=lose%><%}%>';

            let person = new Array(6);

            function win_lose_pop() {
                if (win) {
                    document.getElementById('hide_win').style.display = 'inline-block';
                }
                if (lose) {
                    document.getElementById('hide_lose').style.display = 'inline-block';
                }
            }

            $(function () {
                const socket = io();

                socket.emit('join-lobby');
                socket.on('counts', function (userlist, lobbycnt) {
                    for (let i = 1; i <= 5; i++) {
                        person[i] = userlist[i];
                        $('#p' + i).html(person[i]);
                        $('#d' + i).css('color', 'white');
                        if (person[i] >= 5) {
                            $('#d' + i).css('color', 'red');
                        }
                    }
                    $('#lobbycnt').html(lobbycnt);
                });

                //채널 선택(클릭)시 닉네임 포커스
                $('.room').click(function () {
                    $('#nick').focus();
                });

                $('a').attr('target', '_blank');
            });
        </script>
    </head>
    <body onload="document.setUser.nickname.focus(); win_lose_pop();">
        <div class="screen">
            <div class="mainview">
                <div class="logo">
                    곰곰해온라인<span class="highversion">Beta</span>
                </div>
                <div class="logo_semi">
                    
                </div>
                <form name="setUser" method="post" action="/game">
    
                    <div class="chDiv">
                        <div class="load_list">
                            <label>
                                <input type="radio" name="ch" value="1"
                                <%if(locals.ch1){%><%=ch1%><%}%>>
                            <div class="room" id="d1">
                                <p class="r_name">채널 1</p>
                                <span class="r_num" id="p1">0</span>
                                <span class="r_num">/ 5</span>
                            </div>
                            </label>
                        <label>
                           <input type="radio" name="ch" value="2"
                           <%if(locals.ch2){%><%=ch2%><%}%>>
                            <div class="room" id="d2">
                                <p class="r_name">채널 2</p>
                                <span class="r_num" id="p2">0</span>
                                <span class="r_num">/ 5</span>
                            </div>
                        </label>
                        <label>
                           <input type="radio" name="ch" value="3"
                           <%if(locals.ch3){%><%=ch3%><%}%>>
                            <div class="room" id="d3">
                                <p class="r_name">채널 3</p>
                                <span class="r_num" id="p3">0</span>
                                <span class="r_num">/ 5</span>
                            </div>
                        </label>
                        <label>
                           <input type="radio" name="ch" value="4"
                           <%if(locals.ch4){%><%=ch4%><%}%>>
                            <div class="room" id="d4">
                                <p class="r_name">채널 4</p>
                                <span class="r_num" id="p4">0</span>
                                <span class="r_num">/ 5</span>
                            </div>
                        </label>
                        <label>
                           <input type="radio" name="ch" value="5"
                           <%if(locals.ch5){%><%=ch5%><%}%>>
                            <div class="room" id="d5">
                                <p class="r_name">자유채널</p>
                                <span class="r_num" id="p5">0</span>
                                <span class="r_num">/ 5</span>
                            </div>
                        </label>
                    </div>
                    <div class="loginDiv">
                        <input id="nick" type="text" name="nickname" maxlength="6" autocomplete="off" value="<%if(locals.uid){%><%=uid%><%}%>"><input type="submit" name="login" value="플레이">
                    </div>
                    
                    <div class="text_info" style="float: left; color: dodgerblue; margin-bottom: -10px;">
                    <p>채널과 닉네임(6자 이하)을 정하고 게임에 참가하세요!</p>
                    <p style="font-size: 16px; color: white; background: #FF277D; margin-bottom: -10px; border-radius: 5px;">
                        <%if(locals.msg){%> <%="메시지 : "+msg%> <%}%>
                    </p>
                    </div>
                </div>
                </form>
            </div>
            
            <div class="hide_win" id="hide_win">
                <div class="finish_box">
                    <div class="win_text">WINNER!</div>
                    <span class="text_info" style="color: dodgerblue; cursor:pointer; font-size: 25px;" onclick="location.href = '/'">다시 게임에 참가하기</span>
                    <span class="text_info" style="margin: 0 20px;"></span><span class="text_info" style="color: crimson; cursor:pointer; font-size: 25px;" onclick="location.href = '/logout'">그만하기</span>
                </div>
            </div>
    
            <div class="hide_win" id="hide_lose" style="border-color: crimson">
                <div class="finish_box">
                    <div class="win_text" style="color: crimson;">LOSE!</div>
                    <span class="text_info" style="color: dodgerblue; cursor:pointer; font-size: 25px;" onclick="location.href = '/'">다시 게임에 참가하기</span>
                    <span class="text_info" style="margin: 0 20px;"></span><span class="text_info" style="color: crimson; cursor:pointer; font-size: 25px;" onclick="location.href = '/logout'">그만하기</span>
                </div>
            </div>
            
            <div class="hide_win" id="hide_help" style="background: white; border: 2px solid dodgerblue; height: 440px; margin-top: -290px;">
                <div class="helpboxTop">
                    <span class="helpTop">도움말</span>
                    <div class="closeTop" onclick="hideHelp()">닫기</div>
                </div>
                <div class="helpboxBottom">
                    <span class="boxTitle">게임 방법</span>
                   
                    <ul class="helpUl">
                        <li>채널 선택 후 닉네임을 정하고 (2~6글자) 게임에 참가하세요!
                        <li>2~3글자로 끝말을 이어주세요. 내 차례일 때 화면이 깜빡입니다.
                        <li>새로운 유저가 들어오면 게임을 다시 시작합니다.
                        <li>한 명이 살아남을 때까지 게임은 지속됩니다!
                    </ul>
                        <span class="boxTitle">게임 팁</span>
                    <ul class="helpUl" style="font-size: 18px; font-weight: 500">
                        <li>채널에 혼자일 땐 혼자서 플레이하다가, 새로운 유저가 오면 게임을 다시 시작해요!
                        <li>자유채널은 제한 시간이 다른 채널보다 훨씬 깁니다!
                        <li>내 차례가 아닐 땐 바로 채팅 모드로 바껴서 채팅을 클릭할 필요가 없어요!
                        <li>채팅을 하다가도 내 차례일 땐 정답 입력 모드로 바껴요!
                        <li>두음법칙은 자동 표시됩니다!
                    </ul>
                </div>
            </div>
            
            <div class="hide_win" id="hide_made" style="background: white; border-style: none; height: 470px; margin-top: -290px;">
                <div class="helpboxTop">
                    <span class="helpTop">제작 소개</span>
                    <div class="closeTop" onclick="hideMade()">안물</div>
                </div>
                <div class="helpboxBottom">
                    <span class="boxTitle">제작자는</span>
                    <ul class="helpUl" style="font-size: 18px; font-weight: 500">
                        <li>허전진, 단국대학교 소프트웨어학과 16학번
                        <li>
                        <a href="http://zinirun.github.io">Portpolio</a>
                        <a href="http://github.com/zinirun">Github</a>
                        <a href="http://zinirun.blogspot.com">Blog</a>
                        <a href="http://instagram.com/normalzini">Instagram</a>
                    </ul>
                    
                    <span class="boxTitle">어쩌다 만들었냐면,</span>
                    <ul class="helpUl" style="font-size: 18px; font-weight: 500">
                        <li>피시방에서 게임 기다리는 시간이 너무 지루해 → 다같이 할 수 있는 웹 게임이 없을까?
                        <li>게임은 간단하고, 마음 편하게 하고싶어 → 아무리 찾아도 없네..?
                        <li>그냥 내가 만들어볼까? → 제작 시작
                    </ul>
                    
                    <span class="boxTitle">제작 기반</span>
                    <ul class="helpUl" style="font-size: 18px; font-weight: 500">
                        <li>Backend: Node.js + Express + Socket.io
                        <li>Frontend: VanillaJS + JQuery + HTML/CSS
                        <li>Server: NHN Toast Cloud + Docker + Nginx
                        <li>Office: AZIT coffee, Jukjeon
                    </ul>
                </div>
            </div>
                
            <div class="copyright">
                <span id="lobby"><span id="lobbycnt">1</span>명이 채널을 선택중입니다!</span>
               <input class="copyBt" type="button" value="도움말" onclick="showHelp()">
               <input class="copyBt" type="button" value="제작소개" onclick="showMade()">
            </div>
        </div>
        
    </body>
    
    </html>
    